* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-red: #E3646E;
  --color-purple: #BB72E9;
  --color-blue: #3996DB;
  --color-green: #82BC4F;
  --color-yellow: #EABD5F;

  --gray-100: #0D0E11;
  --gray-200: #16181D;
  --gray-300: #292C34;
  --gray-400: #878EA1;
  --gray-500: #C0C4CE;
  --gray-600: #E2E4E9;

  --font-primary: "Maven Pro", sans-serif; 
  --text-md: 1rem;
  --text-sm: 0.875rem;

  --font-secondary: "Asap", sans-serif;
  --font-tertiary: "Inconsolata", monospace;
}

body {
  background-color: var(--gray-200);
}

h1 {
  font: bold 3.5rem / 1.2 var(--font-secondary);
  color: var(--gray-600);
}

h2 {
  font: bold 1.5rem / 1.2 var(--font-secondary);
}

h3 {
  font: bold 1rem / 1.2 var(--font-secondary);
}

.Subtitle {
    font: 1.25rem / 1.2 var(--font-tertiary);
    color: var(--gray-500);
    margin-bottom: 0.5rem;

    span {
      color: var(--color-red);
    }
}

  .heading {
    text-align: center;
  
    p {
      color: var(--color-red);
      
    }

    h2 {
      color: var(--gray-600);
      margin-bottom: 3.5rem;
    }
  }

::-webkit-scrollbar {
  width: 0.5rem;  
}

::-webkit-scrollbar-thumb {
  background: var(--color-green);
  border-radius: 0.5rem; 
}